@using TaskManager.Domain.Entities
@model IEnumerable<TaskModel>

@{

    ViewData["Title"] = "Tasks";
}

<div id="modal_placeholder"></div>

<div class="container">
    <main role="main" class="pb-3">

        <div class="tasks_header">
            <h2>Task Manager</h2>
            <button type="button" class="create_modal_button" id="create_modal_button"
                    data-url="@Url.Action("Create")">
                <img src="~/img/add_sign.png" />
            </button>
            <div class="user_info_container">
                <span class="email">@ViewBag.Email</span>
                <a class="sign_out_button" asp-controller="Account" asp-action="SignOut">                        
                    <img src="~/img/sign_out.png" />
                </a>
            </div>
        </div>

        @foreach (var t in Model)
        {
            <div class="task_wrapper update_modal_button" data-url="@Url.Action("Update", new { id = t.TaskId })">
                <div class="task_container">
                    @Html.CheckBox("Finished", t.Finished, new { id = t.TaskId, @class = "task_finished_checkbox", onclick = "checkedClicked($(this))" })
                    <span>@t.Priority</span>//
                    <span>@t.Type</span>//
                    <span>@t.Deadline?.ToString("dd/MM/yyyy")</span>//
                    <span>@t.Description</span>
                </div>
                <div class="delete_task_container">
                    <a class="delete_task_button" data-url="@Url.Action("Delete", new { id = t.TaskId })">
                        <img src="~/img/delete_sign.png" />
                    </a>
                </div>
            </div>
        }
    </main>
</div>




